{
    "parser": "@typescript-eslint/parser",
    "extends": ["prettier"],
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "plugins": ["svelte3", "@typescript-eslint"],
    "overrides": [
        {
            "files": ["*.svelte"],
            "processor": "svelte3/svelte3"
        },
        {
            "files": ["*.plugin.*"],
            "rules": {
                "no-console": "off"
            }
        }
    ],
    "rules": {
        "no-console": "warn"
    },
    "settings": {
        "svelte3/typescript": true
    }
}
